div.chart { width:960px; margin: 0 auto; font-size: 12px;}

.axis path,
.axis line { fill: none; stroke: #7B7B7B; shape-rendering: crispEdges;}
.oecd line { fill: none; stroke: #7B7B7B; stroke-dasharray: 7,2; shape-rendering: crispEdges;}
.label {font-size:14px;}

/*education chart*/
div#education { width:620px; margin: 35px auto; }
div#eduControls {
	text-align: center;
	font-size: 22px;
	margin-bottom: 20px;
	}

div#eduControls span { margin-right: 16px; }

span.eduControl { cursor: pointer; }
span.active { color:orange;}

.oecdLabel { font-size:16px; }

div#education .xLabels { font-style: italic;}

/*survey chart*/
div#surveys { width:auto; margin:35px auto; }

.surveyRectGroup .barText { 
		font-size: 12px; 
		font-weight: bold; 
		fill:white; 
		font-family: Arial;
		text-shadow: 1px 1px gray;}

div#surveyControls {
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
	}

div#surveyControls span { margin-right: 16px; }
span.surveyControl { cursor: pointer;}
div#surveyQuest { margin: 0 auto; text-align: center; width:700px; font-size: 16px; }
div#survey .legend { color: black;}